.menu {
  display: flex;
  flex-direction: column;
  padding: 100px 0px 0;
  margin-bottom: 100px;
  position: relative;
  box-sizing: border-box;
  background: white;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  width: 780px;
  display: flex;
  justify-content: center;
  margin: 0 auto 24px;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  width: 780px;
  display: flex;
  justify-content: center;
  margin: 0 auto 100px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px 0;
}
