.reservation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 1000px;
  padding: 100px 80px 120px;
  position: relative;
  box-sizing: border-box;
  background: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin: 0 0 80px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}
