@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
  100% {
    opacity: 1.2;
    transform: scale(1);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  padding: 0;
}

.nav__link {
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.2s linear;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  display: block;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  position: absolute;
}

.header__background {
  position: absolute;
  background-size: cover;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-end;
}

.header__paragraph {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding: 0;
  margin: 0;
}

.header__address {
  list-style-type: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.content {
}

.recipes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 1000px;
  padding: 100px 80px 215px;
  position: relative;
  box-sizing: border-box;
  background: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.recipes__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0;
  padding: 0;
}

.recipes__subtitle {
  font-family: "Noto-Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0px;
}

.recipes__video-caption {
  margin: 24px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.reservation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 1000px;
  padding: 100px 80px 120px;
  position: relative;
  box-sizing: border-box;
  background: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin: 0 0 80px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  width: 385px;
}

.form__label {
  padding: 0;
  margin: 0 0 8px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  height: 60px;
  margin: 0 0 32px;
  border-radius: 4px;
  border: 1px solid #838383;
  box-sizing: border-box;
  max-width: 385px;
}

.form__button {
  height: 60px;
  background-color: #2f80ed;
  color: white;
  margin: 0 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 120px;
  column-gap: 12px;
  border-radius: 2px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 1000px;
  padding: 100px 0px 0;
  margin-bottom: 100px;
  position: relative;
  box-sizing: border-box;
  background: white;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  width: 780px;
  margin: 0 0 24px;
  display: flex;
  justify-content: center;
  margin: 0 auto 24px;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  width: 780px;
  margin: 0 0 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto 100px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px 0;
}

.card {
  width: 100%;
  max-width: 540px;
  margin: 0 auto 100px;
}

.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
  padding: 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  bottom: 4px;
}

.about {
  display: flex;
  box-sizing: border-box;
  background: #0a2850;
  color: white;
  position: relative;
  overflow: hidden;
}

.about__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  margin: 100px 80px 0;
  z-index: 3;
}

.about__content {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-top: 119px;
  margin-left: auto;
  margin-bottom: 173px;
  max-width: 660px;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 20px;
  position: relative;
}

.about__circle {
  background-color: #2f80ed;
  border-radius: 50%;
  height: 426px;
  width: 426px;
  position: absolute;
  left: -140px;
  top: -130px;
  z-index: 2;
}

.about__circle_animation_blurred {
  background-color: #2f80ed;
  border-radius: 50%;
  height: 426px;
  width: 426px;
  position: absolute;
  left: -140px;
  top: -130px;
  animation: pulsate 1.3s ease-in-out infinite;
  z-index: 1;
}

.footer {
  padding: 60px 100px 60px 80px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: white;
}

.footer__content {
  display: flex;
  flex-direction: row;
  margin-bottom: 108px;
  justify-content: space-between;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__social-heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  transition: color 0.2s linear;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__copywright {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
